.OpenDialog-preview {
  height: calc(100vh / 2);
}

.OpenDialog-preview svg {
  height: calc(100vh / 2);
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  border: #ccc 1px solid;
}

.OpenDialog-buttons {
  margin-top: 1rem;
}

.OpenDialog-open {
  float: right;
}
