.SvgNodeAttribute-id > .value {
  color: #c00;
  background-color: #fee;
}

.SvgNodeAttribute-class > .values {
  background-color: #efe;
}

.SvgNodeAttribute-class .value {
  color: #060;
  background-color: #bfb;
}

.SvgNodeAttribute-xlink-href > .value {
  color: #008;
  background-color: #eef;
  text-decoration: underline solid #008;
  cursor: pointer;
}

// .SvgNodeAttribute-id::before { content: '#'; }
