div.SvgTreeNode {
  padding-left: 1ex;
}

div.SvgTreeNode-tag-opening {
  padding-left: 4ex;
  text-indent: -4ex;
}

div.SvgTreeNode-tag-closing {
  margin-left: 2ex;
}

.SvgTreeNode-name {
  // font-weight: bold;
  color: #c46;
}

.SvgTreeNode-nodes {
  margin-left: 1ex;
  border-left: 1px #ccc dotted;
  position: relative;
}

.SvgTreeNode-collapsed-summary {
  background-color: #bbb;
  padding: 0 1ex;
  color: #fff;
  font-weight: bold;
  border-radius: 1ex;
}

.SvgTreeNode-add {
  position: absolute;
  bottom: 0;
  right: 0;
}

.SvgTreeNode-expander {
  padding: 0 0.5ex;
  cursor: default;
  color: #555;
  font-weight: bold;
}

.SvgTreeNode-expander::before {
  content: ' ';
}

.SvgTreeNode-expander-expand::before {
  content: '▶';
}

.SvgTreeNode-expander-collapse::before {
  content: '▼';
}
