.Header {
  background-color: #222;
  color: white;
  margin: 0;
  padding: 0;
}

.Header-title {
  display: inline-block;
  margin: 4pt 8pt;
  padding: 0;
  font-size: 1em;
  line-height: 1rem;
}

.Header-title > .smaller {
  font-size: 73%;
  font-weight: 100;
}

.Header > .action {
  font-weight: bold;
  color: #fff;
  display: inline-block;
  padding: 0.75rem;
  background-color: #444;
  text-decoration: #999 underline;
  cursor: pointer;
}

.Header > .action:hover {
  color: #afa;
  text-decoration-color: #afa;
}
