.NodeTree {
  font-family: monospace;
  font-size: small;
  margin: 0;
  padding: 0;
}

.hidden-markup {
  // display: inline-block;
  // font-size: 75%;
  vertical-align: top;
  opacity: 0.5;
  // max-width: 2ex;
}

.hidden-markup.bottom {
  vertical-align: bottom;
}

.hidden-markup.middle {
  vertical-align: middle;
}
